body {
    font-family: Arial, sans-serif;
    background-color: #dbeafe;
    display: flex;
    justify-content: center;
    padding-top: 50px;
  }
  
  .container {
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
    text-align: center;
    width: 350px;
  }
  
  input {
    padding: 10px;
    width: 70%;
    border-radius: 8px;
    border: 1px solid #b94545;
    margin-bottom: 10px;
  }
  
  button {
    padding: 10px;
    background: #01193f;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  button:hover {
    background: #481d26;
  }
  
  #weatherResult {
    margin-top: 20px;
    font-size: 18px;
  }
  